[MASTER]
init-hook='import sys; sys.path.append("./")'
[BASIC]
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
#function-naming-style=camelCase
#method-naming-style=camelCase
#method-rgx=((__)?[a-z]|[A-Z0-9])[a-z]*(__)?
variable-naming-style=camelCase
argument-naming-style=camelCase
class-attribute-naming-style=UPPER_CASE
attr-naming-style=camelCase

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable = consider-using-f-string